<div class="container">
  <div class="row">
    <div class="listed col-md-6 col-md-offset-3">
        <p>Click on a building to see more detailed information or click <a href="/buildings/new">here</a> to create a new building.</p>
        <ul class="no_decoration list-group">

          <% @buildings.each do |building| %>
            
            
              <li class="list-group-item">
                <a href="/buildings/<%= building.id %>">
                  <%= building.name %>: <%= building.number_of_rooms %> 
                </a>
                  <a href="/buildings/<%= building.id %>/edit" class="leftpadded pull-right">Edit</a>
                  <a href="/buildings/<%= building.id %>" class="view_link pull-right">View</a>
              </li>

          
          <% end %>
        </ul>
    </div> 
  </div>
</div>